/* tr.iii {
  border-bottom: 20px solid rgb(34, 28, 28) !important;
} */

td .action {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */

  width: 50px;

  .img-delete {
    display: flex;

    /* align-items: center; */

    .btn-delete {
      display: flex;
      outline: 0;
      cursor: pointer;
      align-items: center;
      /* text-align: center; */
      border-radius: 6px;
      padding: 5px 35px;
      gap: 10px;

      /* padding-left: 40px; */

      /* min-height: 36px;
      min-width: 36px; */
      color: #ffffff;
      /* background: #f34e4e; */
      opacity: 1px;

      font-weight: 600;
      font-size: 12px;
      line-height: 30px;

      /* box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px,
        rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset; */
    }
  }
  .img-delete:hover {
    /* background-color: rgb(110, 103, 103);
    opacity: 1px; */
    width: 90px;
    transform: scale(1.1);
  }

  .img-edit {
    display: flex;
    gap: 7px;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 50px;
    cursor: pointer;
    /* display: flex;
    justify-content: center; */

    .btn-edit {
      outline: 0;
      cursor: pointer;
      /* text-align: center; */
      border: transparent;
      /* padding: 20px 35px; */

      color: #000000;
      background: none;

      font-weight: 400;
      font-size: 20px;
    }
  }
  .img-edit:hover {
    /* background-color: rgb(110, 103, 103);
    opacity: 1px; */
    width: 90px;
    transform: scale(1.4);
  }
}

.high-cell .priority-div {
  background-color: #f06565;
  padding: 10px;
  border-radius: 7px;
  color: rgb(255, 255, 255);

  text-align: center;

  font-weight: 600;
  width: 80px;
}

.low-cell .priority-div {
  background-color: #64e26e;
  padding: 10px;
  border-radius: 7px;
  color: rgb(255, 255, 255);

  font-weight: 600;
  width: 80px;
}

.medium-cell .priority-div {
  background-color: #fda552;
  padding: 10px;
  border-radius: 7px;
  color: rgb(219, 219, 219);

  font-weight: 600;
  width: 80px;
}

.high-cell,
.medium-cell,
.low-cell {
  display: flex;
  justify-content: left;
}
