/* tr.iii {
  border-bottom: 20px solid rgb(34, 28, 28) !important;
} */

td .action {
  display: flex;
  gap: 2rem;
}

.table-icons {
  display: flex;
  /* justify-content: center; */
  gap: 1.5rem;
}

.fa-trash-alt {
  font-size: 16px;
  /* color: rgb(52, 52, 52); */
  color: rgb(254, 44, 44);
  transition: transform 200ms;
  cursor: pointer;
}

.fa-pencil-alt {
  margin-right: 20px;
  font-size: 16px;
  color: rgb(52, 52, 52);
  transition: transform 200ms;
  cursor: pointer;
  color: rgb(33, 36, 94);
}

.fa-trash-alt:hover {
  transform: scale(1.2);
}
.fa-pencil-alt :hover {
  transform: scale(1.4);
}

.high-cell .priority-div {
  background-color: rgb(253, 217, 225);
  padding: 5px;
  border-radius: 7px;
  color: rgb(237, 104, 128);
  /* box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75); */

  text-align: center;

  font-weight: 600;
  width: 80px;
}

.low-cell .priority-div {
  background-color: rgb(232, 249, 238);
  padding: 5px;
  border-radius: 7px;
  color: rgb(13, 192, 85);

  text-align: center;

  font-weight: 600;
  width: 80px;
}

.medium-cell .priority-div {
  background-color: rgb(247, 225, 199);
  padding: 5px;
  border-radius: 7px;
  color: rgb(240, 159, 66);

  text-align: center;

  font-weight: 600;
  width: 80px;
}

.high-cell,
.medium-cell,
.low-cell {
  display: flex;
  justify-content: left;
}
