.action {
  position: relative;
}

.delete-btn {
  position: absolute;
  right: 0;
  top: 10%;

  .b {
    padding: 10px;
  }
}

.edit-btn {
  position: absolute;
  right: 40%;
  top: 10%;

  .b {
    padding: 10px;
  }
}
