.navbar-main {
  color: beige;
  /* padding: 5px; */
  width: 100%;
  margin: 0 auto;
  background: rgb(52, 143, 108);
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* width: 10%; */

  .logo {
    padding: 2rem 0;
    background-color: rgb(40, 117, 88);

    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    gap: 15px;

    .fa-bug {
      font-size: 28px;
      color: rgb(253, 249, 243);
    }
  }

  .nav-btns {
    padding-left: 2rem;
    /* padding-left: 1rem; */
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    display: flex;
    /* color: rgb(182, 20, 20); */
    /* justify-content: center; */
    height: 82vh;
    margin-top: 20px;
    /* width: 25%; */

    /* a {
      width: 100%;
      text-decoration: none;
      color: white;
    } */

    .b {
      /* margin-left: 2rem; */
      font-weight: 500;
      /* color: rgb(133, 96, 144); */
      color: white;
      /* padding: 20px; */
      padding: 1.2rem;
      border: none;
      padding-left: 2rem;
      font-size: 18px;
      cursor: pointer;
    }
    .active {
      position: relative;
      background-color: rgb(253, 249, 243);
      /* box-shadow: rgba(255, 145, 0, 0.856) 0px 8px 24px; */

      color: rgb(214, 209, 209);
      /* margin-left: 2rem; */
      font-weight: bolder;
      border-radius: 12px 0 0 12px;
      padding-left: 0;

      .b {
        color: rgb(88, 88, 88);
      }
    }
  }

  .login-info {
    display: flex;
    gap: 2px;
    /* margin-top: 500px; */

    align-items: center;

    .ppl-name {
      margin-right: 20px;
      padding: 20px;
      color: white;
      font-size: 20px;
      font-weight: 300;
    }
  }
}
