.layout {
  display: flex;
  /* flex-direction: column; */
  width: 100%;

  /* margin: 0 auto; */

  .nav {
    width: 20%;
    /* margin: 0 auto; */
    /* padding: 5px; */
    /* background-color: #030405; */
    /* align-items: center; */
    /* display: flex;
    justify-content: space-between; */
    /* flex-grow: 1; */
  }

  .bug {
    /* width: 90%; */
    /* width: 80%; */
    display: flex;
    flex-direction: column;

    width: 100%;
    /* margin: 0 auto; */
    background-color: rgb(253, 249, 243);

    padding: 35px;
    font-size: 14px;
    /* flex-basis: 70%; */

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      .title-bug {
        color: #757472;
      }

      .btn {
        display: inline-block;
        outline: 0;
        cursor: pointer;
        /* text-align: center; */
        border: 0;
        padding: 20px;
        min-height: 36px;
        min-width: 36px;
        color: #ffffff;
        background-image: linear-gradient(
          to right,
          #eb3941,
          #f15e64,
          #e14e53,
          #e2373f
        );
        box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
        border-radius: 12px;
        font-weight: 600;
        font-size: 16px;
        /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
        :hover {
          background: #006e52;
        }
      }
    }
    .category-table1 {
      margin-top: 30px;
      width: 100%;
      padding: 50px;
      max-height: 80vh;
      background-color: white;
      border-radius: 12px;
      overflow-y: scroll;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .category-table {
      border-collapse: collapse;
      width: 100%;
      padding: 20px;
    }

    .category-table td {
      padding-top: 18px;
      padding-bottom: 18px;
      /* padding-left: 20px; */

      border-bottom: 1.5px solid rgb(212, 206, 206);
      text-align: left;
    }

    /* .category-table .ii {
      border-bottom: 20px solid black;
    } */

    .category-table tr:hover {
      background-color: #ddd;
      /* transform: scale(1.1); */
    }

    .category-table th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      font-size: 20px;

      /* background-color: #9db2bf; */
      color: rgb(0, 0, 0);
    }
  }
}
