form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 900px;

  .title {
    font-size: 30px;
    padding: 30px;
  }

  .project {
    font-size: 30px;
    padding: 20px;
  }
  .severity {
    font-size: 30px;
    padding: 20px;
  }

  .add {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .add button {
    padding: 20px;
    font-size: 30px;
  }
}
