.stats-card {
  display: flex;
  gap: 2rem;
  padding-left: 30px;
  height: 140px;

  width: 1010px;
  justify-content: space-evenly;
  padding-left: 20px;
  align-items: center;

  .bug-card {
    padding: 30px;

    border-radius: 24px;
    color: rgb(117, 111, 111);
    background-color: white;
    width: 80%;

    .num {
      font-size: 30px;
      color: black;
      padding-bottom: 10px;
    }
    .card-title {
      color: black;
    }

    .icon {
      font-size: 20px;
    }
  }
  .green {
    background-color: rgb(193, 230, 193);
    border: 2px solid rgb(159, 223, 159);
  }

  .yellow {
    background-color: rgb(244, 235, 215);
    border: 2px solid rgb(252, 225, 167);
  }

  .red {
    background-color: rgb(243, 193, 177);
    border: 2px solid rgb(245, 175, 152);
  }
}
