.priority {
  display: flex;
  gap: 1rem;
  align-items: center;
  /* justify-content: center; */
  padding: 10px;

  .filter {
    width: 150px;
    height: 50px;
    outline: 0;
    border-radius: 70px;
    padding-left: 10px;
    background-color: white;
    font-size: 17px;
    font-weight: 500;
    border: none;
    padding: 10px;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}
